// Заголовки, общие БЄМ блоки и проче...
.confetti {
    position: absolute;
    z-index: 0;
    @media (min-width:$mobile){
        &::before{
            content:'';
            display: block;
        }
        // .confetti_1
        &_1 {
            top: rem(-127);
            right: rem(111);
            &::before{
                background: url('@img/confetti/01.svg');
                transform: rotate(150deg);
                width: rem(113);
                height: rem(82);
            }
        }
        &_2 {
            top: rem(-55);
            right: rem(604);
            &::before{
                background: url('@img/confetti/02.svg');
                width: rem(118);
                height: rem(57);
            }
        }
        &_3 {
            bottom: rem(-65);
            left: rem(-90);
            &::before{
                background: url('@img/confetti/01.svg');
                width: rem(113);
                height: rem(82);
            }
        }
        &_4 {
            top: rem(-31);
            right: rem(-26);
            &::before{
                background: url('@img/confetti/03.svg');
                width: rem(77);
                height: rem(91);
            }
        }
        &_5 {
            bottom: 0;
            right: rem(130);
            &::before{
                background: url('@img/confetti/04.svg');
                width: rem(60);
                height: rem(68);
            }
        }
        &_6 {
            top: rem(-14);
            left: rem(-40);
            &::before{
                background: url('@img/confetti/03.svg');
                transform: rotate(-90deg);
                width: rem(77);
                height: rem(91);
            }
        }
        &_7 {
            bottom: rem(-18);
            right: rem(-87);
            &::before{
                background: url('@img/confetti/01.svg');
                transform: rotate(30deg);
                width: rem(113);
                height: rem(82);
            }
        }
        &_8 {
            top: rem(79);
            left: rem(-10);
            &::before{
                background: url('@img/confetti/01.svg');
                transform: rotate(150deg);
                width: rem(113);
                height: rem(82);
            }
        }
        &_9 {
            top: rem(91);
            right: rem(72);
            &::before{
                background: url('@img/confetti/04.svg');
                transform: rotate(135deg);
                width: rem(60);
                height: rem(68);
            }
        }
        &_10 {
            top: rem(-5);
            left: rem(-80);
            &::before{
                background: url('@img/confetti/04.svg');
                width: rem(60);
                height: rem(68);
            }
        }
        &_11 {
            top: rem(-41);
            right: rem(-100);
            &::before{
                background: url('@img/confetti/02.svg');
                width: rem(118);
                height: rem(57);
            }
        }
        //qweqweqwe
        &_12 {
            top: rem(-50);
            right: rem(-300);
            &::before{
                background: url('@img/confetti/02.svg');
                width: rem(118);
                height: rem(57);
            }
        }
        &_13 {
            top: rem(-77);
            left: rem(-83);
            &::before{
                background: url('@img/confetti/04.svg');
                width: rem(60);
                height: rem(68);
            }
        }
        &_14 {
            top: rem(-110);
            right: rem(-110);
            &::before{
                background: url('@img/confetti/02.svg');
                width: rem(118);
                height: rem(57);
            }
        }
        &_15 {
            top: rem(-22);
            left: rem(458);
            &::before{
                background: url('@img/confetti/04.svg');
                width: rem(60);
                height: rem(68);
            }
        }
        &_16 {
            top: rem(60);
            right: rem(7);
            &::before{
                background: url('@img/confetti/02.svg');
                width: rem(118);
                height: rem(57);
            }
        }
        &_17 {
            top: rem(-19);
            left: rem(45);
            &::before{
                background: url('@img/confetti/01.svg');
                transform: rotate(30deg);
                width: rem(113);
                height: rem(82);
            }
        } 
    }
}



.title {
    @include adaptiveValue("font-size", 56, 30);
    line-height: math.div(68, 56);
    font-weight: 700;
    color: #fff;
}

.main-button {
	display: block;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
    font-size: rem(12);
    line-height: math.div(15,12);
	letter-spacing: 0.05em;
    border-radius: rem(22);
    padding: rem(15) rem(32);
	white-space: nowrap;
	background-image: url("@img/footer/border-bottom.svg");
	background-size: 100% 100%;
    background-position: rem(1);
    span {
        transition: color 0.3s ease 0s;
    }
	
	&:hover {
        span {
            color: #6AC4F8;
        }
        
	}
}

.button {
    min-height: rem(50);
    background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
    // background: linear-gradient(to left, #9E00FF,#6AC4F8,#9E00FF );
    background-size: 150%;
    background-position: 50% 50%;
    border-radius: rem(88);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: rem(16) rem(50);
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    transform-style: preserve-3d;
    transform: perspective(rem(1000));
    span {
        transform: translateZ(rem(10));
    }
    // transition: all 0.6s ease 0s;
    &_s {
        min-height: rem(40);
        padding: rem(5) rem(33);
    }

    @media (any-hover: hover){
        &:hover{
            animation: blockanimate 3s ease alternate infinite;
            @keyframes blockanimate {
            0% {
                background-position: 50% 50%;
            }
            33% {
                background-position: 100% 50%;
            }
            66% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 50% 50%;
            }
    }
        }
    }
}

// .user-card__image
.user-card-image {
    width: rem(71);
    height: rem(66);
    background: #11032E;
    border-radius: 5px;
    text-align: center;

    img {
        width: rem(66);
        height: rem(66)
    }
}

.stages-how-buy {
    width: 100%;
    position: relative;
    @media (max-width:$mobile){
        @include adaptiveValue("margin-bottom", 45, 20);
    }
    

    @media (min-width:$mobileSmall) {
        display: flex;
        justify-content: space-between;
        gap: rem(10);
    }

    &::after {
        content: '';
        width: rem(4);
        height: 98%;
        position: absolute;
        z-index: 0;
        top: 1%;
        left: rem(15);
        background-color: #2F1D45;

        @media (min-width:$mobileSmall) {
            height: rem(8);
            width: 98%;
            top: rem(33);
            left: 1%;
            transform: translate(0, -50%);
        }
    }

    // .stages-how-buy__item
    &__item {
        @media (max-width:$mobileSmall) {
            display: flex;
            gap: rem(10);
            align-items: center;

            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }

        &:not(:last-child) {
            .stages-how-buy__disc {
                @media (min-width:$mobileSmall) {
                    &:not(:last-child) {
                        width: rem(120);
                    }
                }
            }
        }
    }

    // .stages-how-buy__stage
    &__stage {
        @media (min-width:$mobileSmall) {
            width: 100%;
            margin-bottom: rem(15);
        }
    }

    // .stages-how-buy__number
    &__number {
        width: rem(34);
        height: rem(34);
        font-size: rem(24);

        @media (min-width:$mobileSmall) {
            width: rem(66);
            height: rem(66);
            font-size: rem(46);
        }

        border-radius: 50%;
        background: #2F1D45;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;

        line-height: math.div(56, 46);

        span {
            background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            z-index: 5;
        }
    }

    // .stages-how-buy__disc
    &__disc {
        @media (min-width:$mobileSmall) {
            max-width: rem(120);
        }
    }
}

.video-ibg {
    border-radius: rem(15);
    overflow: hidden;
}


