.page {

    // .page_faq
    &_faq {
        background: linear-gradient(122.91deg, #201081 0%, #1E0043 72.07%, #5C003E 98.6%);
    }

     // .page__why-we

    &__why-we {
    }
}
.faq {
    @include adaptiveValue("padding-top",158,77);
    @include adaptiveValue("padding-bottom",120,60);
    // .faq__container

    &__container {
    }

    // .faq__tilte

    &__tilte {
        @include adaptiveValue("margin-bottom",38,20);
        @media (min-width:$mobile){
            text-align: center; 
        }
    }

    // .faq__list

    &__list {
    }

    // .faq__item

    &__item {
    }
}

.item-faq {
    background: #160239;
    border-radius: 15px;
    @include adaptiveValue("padding",50,20);
    &:not(:last-child) {
        margin-bottom: rem(20);
    }
    // .item-faq__title
    &__title {
        font-weight: 700;
        font-size: rem(20);
        color: #fff;
        display: flex;
        gap: rem(15);
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        &::before{
            background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: rotate(90deg);
            font-size: rem(16);
            transition: transform 0.3s ease 0s;
        }
        &._spoller-active {
            &::before{
                transform: rotate(0deg);
            }
        }
    }

    // .item-faq__text

    &__text {
        @include adaptiveValue("margin-top",15,10);
        max-width: rem(824);
    }
}

.why-we {
    @include adaptiveValue("padding-bottom",120,70);
    // .why-we__container

    &__container {
    }

    // .why-we__tilte

    &__tilte {
        @media (min-width:$mobile){
            text-align: center; 
        }
    }

    // .why-we__body

    &__body {
    }

    // .why-we__list

    &__list {
        @media (min-width:$mobile){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(rem(310), 1fr)); 
        }
        @media (min-width:$tablet){
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            align-items: center;
            column-gap: rem(20);
        }
    }

    // .why-we__item

    &__item {
    }
}

.item-why-we {
    max-width: rem(315);
    @media (min-width:$tablet){
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    &:not(:last-child) {
        margin-bottom: rem(24);
    }
    &_main {
        @media (min-width:$tablet){
            grid-area: 1/2/3/3;
            background: linear-gradient(122.91deg, #58378F 0%, #35145F 72.07%, #34005C 98.6%);
            border-radius: rem(15);
            padding: rem(30) rem(48);
        }
    }
    // .item-why-we__image

    &__image {
        margin-bottom: rem(15);
    }
    

    // .item-why-we__title

    &__title {
        margin-bottom: rem(10);
        font-size: rem(20);
        font-weight: 700;
        color: #fff;
        @media (min-width:$tablet){
            text-align: center;
        }
    }

    // .item-why-we__text

    &__text {
        @media (min-width:$tablet){
            text-align: center;
        }
    }
}
