.page {

    // .page_faq
    &_faq {
        background: linear-gradient(122.91deg, #201081 0%, #1E0043 72.07%, #5C003E 98.6%);
    }
}
.faq {
    @include adaptiveValue("padding-top",158,77);
    @include adaptiveValue("padding-bottom",120,60);
    // .faq__container

    &__container {
    }

    // .faq__tilte

    &__tilte {
        @include adaptiveValue("margin-bottom",38,20);
    }

    // .faq__list

    &__list {
    }

    // .faq__item

    &__item {
    }
}

.item-faq {
    background: #160239;
    border-radius: 15px;
    @include adaptiveValue("padding",50,20);
    &:not(:last-child) {
        margin-bottom: rem(20);
    }
    // .item-faq__title
    &__title {
        font-weight: 700;
        font-size: rem(20);
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        &::before{
            background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: rotate(90deg);
            font-size: rem(16);
            transition: transform 0.3s ease 0s;
        }
        &._spoller-active {
            &::before{
                transform: rotate(0deg);
            }
        }
    }

    // .item-faq__text

    &__text {
        @include adaptiveValue("margin-top",15,10);
    }
}
