//====================================================================================================
.footer {
    background-color: #170337;
    color: #D8DBEC;
    @include adaptiveValue("padding-top",43,25);
    @include adaptiveValue("padding-bottom",30,28);
    @include adaptiveValue("font-size",16,14);
    line-height: math.div(19,16);
    // .footer__container
    &__container {
    }

    // .footer__grid
    &__grid {
        display: grid;
        gap: 10px;
        grid-template-areas: 'logo' 'nav' 'social' 'pay' 'button' 'privacy' 'copy';
        grid-template-columns: 1fr;
        justify-items: center; 
        @media (min-width:$mobile) {
            grid-template-areas: 'logo nav social button' 'copy privacy pay button';
            // grid-template-columns: 19% 29.5% 202px 188px;
            grid-template-columns: 21% 23.5% rem(202) rem(188);
            justify-content: space-between; 
            justify-items: self-start;
        }
    }

    // .footer__item
    &__item {
        &:nth-child(1){
            grid-area: logo;
            @media (min-width:$mobile) {
                margin-bottom: rem(13);
            }
        }
        &:nth-child(2){
            grid-area: nav;
            @media (min-width:$mobile) {
                padding-top: rem(3);
            }
        }
        &:nth-child(3){
            grid-area: social;
            @media (min-width:$mobile) {
                padding-top: rem(2);
            }
            @media (max-width:$mobile) {
                margin-bottom: rem(10);
            }
        }
        &:nth-child(4){
            grid-area: pay;
            @media (max-width:$mobile) {
                margin-bottom: rem(10);
            }
        }
        &:nth-child(5){
            grid-area: button;
            @media (max-width:$mobile) {
                margin-bottom: rem(10);
            }
            @media (max-width:$mobileSmall){
                width: 100%; 
            }
        }
        &:nth-child(6){
            grid-area: privacy;
            @media (max-width:$mobile) {
                margin-bottom: rem(10);
            }
        }
        &:nth-child(7){
            grid-area: copy;
            @media (min-width:$mobile) {
                padding-top: rem(2);
            }
        }
    }

    // .footer__logo
    &__logo {
        @media (max-width:$mobile) {
			img {
				width: rem(122);
				height: rem(45);
			}
		}
    }
    // .footer__nav
	&__nav {
        display: flex;
        gap: rem(30);
        @media (min-width:$mobile) {
			flex-direction: column;
			gap: rem(4);
		}
	}
	// .footer__nav-item
	&__nav-item {
	}
	// .footer__nav-link
	&__nav-link {
        transition: color 0.3s ease 0s;
        &:hover {
			color: #9E00FF;
		}
	}

    // .footer__social
    &__social {
        
    }
    .footer {

	// .footer__privacy
	&__privacy {
        &:hover {
			color: #9E00FF;
		}
	}
}

    // .footer__payment
	&__payment {
	}
}


.social-footer {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    align-items: center;
    @media (min-width:$mobile) {
        align-items: flex-start;
    }
    // .social-footer__item
    &__item {
        @media (min-width:$mobile) {
			&:first-child {
                .social-footer__image {
                    padding-left: rem(2);
                }
            }
		}
    }
    // .social-footer__link
    &__link {
        display: flex;
        align-items: center;
        transition: color 0.3s ease 0s;
        &:hover {
			color: #9E00FF;
		}
    }
    // .social-footer__image
	&__image {
        flex: 0 0 rem(30);
        font-size: rem(14);
	}
    // .social-footer__value
	&__value {
	}
}


.payment-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(11);
    @media (min-width:$mobile) {
        max-width: rem(185);
        justify-content: flex-start;
    }
    // .payment-footer__item
    &__item {
    }
}
//====================================================================================================
