//====================================================================================================
//====================================================================================================
.page {
    background: linear-gradient(180deg, #190C25 0%, #16013D 100%);
    // .page__main-screen
    &__main-screen {
    }
    // .page__how-buy
    &__how-buy {
    }
    // .page__contest
    &__contest {
    }
    // .page__statistics
    &__statistics {
    }
    // .page__wave
    &__wave {
    }
}

//====================================================================================================


//====================================================================================================
.main-screen {
    background: url('@img/main-screen/bg.jpg') center / cover;
    // .main-screen__container
    @include adaptiveValue("padding-top",109,100);
    &__container {
    }

    // .main-screen__body
    &__body {
        display: flex;
        flex-direction: column;
        @media (min-width:$mobileSmall){
            align-items: center;
        }
        
    }

    // .main-screen__title
    &__title {
        @include adaptiveValue("font-size",66,34);
        max-width: rem(1000);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",20,15);
        }
        @media (min-width:$mobileSmall){
            text-align: center;
        }
    }

    // .main-screen__text
    &__text {
        max-width: rem(490);
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
        @media (min-width:$mobileSmall){
            text-align: center;
        }
    }

    // .main-screen__button

    &__button {
    }

    // .main-screen__image-ibg
    &__image-ibg {
        align-self: center;
        @include adaptiveValue("margin-top",25,50);
        @include adaptiveValue("width",1377,879);
        @include adaptiveValue("padding-bottom",343,219);
    }
}
//====================================================================================================

.wave {
    background: linear-gradient(180deg, #190C25 0%, #16013D 100%);
    position: relative;
    z-index: 1;
    &__top {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(100);
        transform: translate(0, -100%);
        transition: transform 0.3s ease 0s;
        @media (max-width:$mobile){
            transform: translate(-100%, -100%);
        }
        svg {
            width: 100%;
            height: 100%; 
            min-width: 1500px;
            
            path {
                stroke: none; 
                fill: #190C25;
            }
        }
    }
	&__bottom {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        @include adaptiveValue("height",100,60);
        transform: translate(0, 100%);
        svg {
            width: 100%;
            height: 100%; 
            min-width: 1500px;
            path {
                stroke: none; 
                fill: #16013D;
            }
        }
	}
}
//====================================================================================================
.how-buy {
    @include adaptiveValue("padding-top",110,43);
    @include adaptiveValue("padding-bottom",60,50);
    // .how-buy__container
    &__container {
        
    }

    // .how-buy__body
    &__body {
        position: relative;
        @media (min-width:$mobile){
            display: flex;
            gap: rem(20); 
        }
        
    }

    // .how-buy__content

    &__content {
        flex: 1 1 50%;
        padding-right: rem(10);
        @media (max-width:$mobile){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media (max-width:$mobileSmall){
            align-items: flex-start;
        }
    }

    // .how-buy__title

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    // .how-buy__stages
    &__stages {
        max-width: rem(472);
    }

    // .how-buy__button

    &__button {
        @include adaptiveValue("margin-top",45,20);
        @media (max-width:$mobileSmall){
            width: 100%; 
        }
    }

    // .how-buy__video
    &__video {
        flex: 1 1 50%;
        text-align: center;
    }
    // .how-buy__video-ibg
    &__video-ibg {
        
    }
}


//===================================================================================================
.contest {
    @include adaptiveValue("padding-top",60,0,1240,768);
    @include adaptiveValue("padding-bottom",100,70);
    // .contest__container
    &__container {
        
    }
    // .contest__body
	&__body {
        position: relative;
        z-index: 3;
        @media (min-width:$mobile){
            display: flex;
            flex-direction: row-reverse;
            gap: rem(20); 
        }
	}
    // .contest__iframe
    &__iframe {
        flex: 1 1 50%;
        @media (min-width:$mobile){
            @include adaptiveValue("padding-right",75,0,1240,768);
        }
        
        &-iframe-ibg {
            padding: 0px 0px percent(509,525) 0px;
            img {
                border-radius: rem(15);
            }
        }
    }

    // .contest__content
    &__content {
        flex: 1 1 50%;
        @media (max-width:$mobile){
            display: flex;
            flex-direction: column;
        }
    }

    // .contest__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",20,10);
        }
    }

    // .contest__text
    &__text {
        max-width: rem(494);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",25,20);
        }
    }

    // .contest__button
    &__button {
        @media (max-width:$mobileSmall){
            width: 100%; 
        }
        @media (max-width:$mobile){
            align-self: center;
            margin-bottom: rem(30); 
        }
    }
}



//====================================================================================================
.statistics {
    @include adaptiveValue("padding-top",155,95);
    @include adaptiveValue("padding-bottom",100,70);
    background: linear-gradient(122.91deg, #201081 0%, #1E0043 72.07%, #5C003E 98.6%);
    position: relative;
    z-index: 0;
    // .statistics__container
    &__container {
    }

    // .statistics__body
    &__body {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    // .statistics__title

    &__title {
        @media (min-width:$mobile){
            align-self: center;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",40,15);
        }
    }

    // .statistics__grid

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(350), 1fr));
        column-gap: rem(20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",50,25);
        }
    }

    // .statistics__item

    &__item {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap",15,7);
        @media (min-width:$mobile){
            align-items: center;
        }
        
    }

    // .statistics__value

    &__value {
        @include adaptiveValue("font-size",42,34);
        line-height: math.div(51,42);
        font-weight: 700;
        background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    // .statistics__button

    &__button {
        align-self: center;
        @media (max-width:$mobileSmall){
            width: 100%; 
        }
    }
}


//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================